.vs
bin
obj
ServerConsole
Pull&Run
build-winforms(version-0).yml
extra_files.zip
node_modules/
.DS_Store
src/Server/MyServerData
pa
Client Web Test
Kontroller Web
automatically-notified.yml
docker-ci.yml
winforms-ci.yml
metrics
