name: Line Contribution Report

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  report:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Run blame line counter
      run: python ./src/metrics/blame_line_counter.py
    
    - name: Send Discord notification
      run: |
        report_date=$(date +%Y-%m-%d)
        message="游늵 **B치o c치o 캠칩ng g칩p d쑕g code** ($report_date):"

        while IFS=',' read -r date author lines; do
          sanitized_author=$(echo "$author" | sed 's/"/'\''/g' | sed 's/,/ /g')
          message="$message\n- \`$sanitized_author\`: $lines d쑕g"
        done < <(tail -n +2 ./src/metrics/line_contribution.csv)

        # encode message safely using jq
        payload=$(jq -Rn --arg msg "$message" '{content: $msg}')

        echo -e "$message"

        curl -H "Content-Type: application/json" \
            -X POST \
            -d "$payload" \
            $DISCORD_WEBHOOK
      env:
        DISCORD_WEBHOOK: https://discord.com/api/webhooks/1401911119290961962/PGaNzn5IWIiOgixqCCzMPfNsIoWaj77rTqh7W7MFfwc87ezxfhr-ZMTwWUQQ83hH1Y3E


